<h1>edit article </h1>
<%
#This is a form_with helper... It is from the ruby docs as a form helper.
#for form_with you use local: true.
#articles_path is inbuilt in RoR
%>

<%
################################################################
 # THE FOLLOWING IS AN EXCELLENT WAY TO DISPLAY ERRORS!!!!!!!!! 
 ###############################################################
%>

<%= render 'form' %>

<%= link_to 'Cancel and Return to articles listing', articles_path %>